/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
	background-color: var(--background-primary);
	color: var(--text-primary);
	font-family: 'Press Start 2P', cursive;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.simple-shadow {
	box-shadow: 2px 0 var(--text-primary), -2px 0 var(--text-primary), 0 -2px var(--text-primary),
		0 2px var(--text-primary);
	margin: 2px auto;
}

.three-step-shadow {
	box-shadow: 3px 0 var(--background-primary), -3px 0 var(--background-primary), 0 -3px var(--background-primary), 0 3px var(--background-primary), 6px 0 var(--background-primary), -6px 0 var(--background-primary),
		0 -6px var(--background-primary), 0 6px var(--background-primary), 0 0 0 3px var(--background-primary), 9px 0 var(--text-primary), -9px 0 var(--text-primary), 0 9px var(--text-primary), 0 -9px var(--text-primary),
		0 -3px 0 3px var(--text-primary), 0 3px 0 3px var(--text-primary), 3px 0 0 3px var(--text-primary), -3px 0 0 3px var(--text-primary);
	margin: 6px auto;
}
